/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


.traffic-box {
background: #111;
width: 120px;
display: flex;
flex-direction: column;
gap: 12px
align-items: center;
    
}

.light{
width: 80px;
height: 80px;
border-radius: 50%;
cursor: pointer;
opacity: 0.85;
}

.red{
    background: red;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}

.glow{
    box-shadow: 0 0 20px 8px rgba(255, 255, 255, 0.6);
}